In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

import warnings
warnings.filterwarnings("ignore")

print("Setup Complete")

Setup Complete

In [2]:
data_ = pd.read_csv("data/train.csv")
data = data_.copy()
data.head()

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,Erkek,4/6/1994,"Altindag, Ankara",Ankara,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,Erkek,6/11/1993,Üsküdar,İstanbul,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,Erkek,1/15/1986,Samsun,İstanbul,ULUSLARARASI KIBRIS ÜNİVERSİTESİ,Özel,100.0,Hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,Erkek,6/4/1991,Diyarbakır,İstanbul,İSTANBUL ŞEHİR ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,Erkek,2 Kasim 1992,Ankara/Altındağ,Ankara,TURGUT ÖZAL ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4

In [3]:
data.drop(columns=["id"], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65125 entries, 0 to 65124
Data columns (total 43 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65125 non-null  int64
 1   Degerlendirme Puani                                        65124 non-null  float64
 2   Cinsiyet                                                   64956 non-null  object
 3   Dogum Tarihi                                               64948 non-null  object
 4   Dogum Yeri                                                 64334 non-null  object
 5   Ikametgah Sehri                                            63088 non-null  object
 6   Universite Adi                                             64993 non-null  object
 7   Universite Turu                                            64870 non-null  object
 8   Burslu ise Burs Yuzdesi                                    22440 non-null  float64
 9   Burs Aliyor mu?                                            65125 non-null  object
 10  Bölüm                                                      64894 non-null  object
 11  Universite Kacinci Sinif                                   64751 non-null  object
 12  Universite Not Ortalamasi                                  62372 non-null  object
 13  Daha Once Baska Bir Universiteden Mezun Olmus              27780 non-null  object
 14  Lise Adi                                                   64741 non-null  object
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 64071 non-null  object
 17  Lise Turu                                                  64278 non-null  object
 18  Lise Bolumu                                                64116 non-null  object
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        59208 non-null  object
 21  Baska Bir Kurumdan Burs Aliyor mu?                         64894 non-null  object
 22  Burs Aldigi Baska Kurum                                    21148 non-null  object
 23  Baska Kurumdan Aldigi Burs Miktari                         20963 non-null  object
 24  Anne Egitim Durumu                                         64719 non-null  object
 25  Anne Calisma Durumu                                        53229 non-null  object
 26  Anne Sektor                                                30588 non-null  object
 27  Baba Egitim Durumu                                         64118 non-null  object
 28  Baba Calisma Durumu                                        52507 non-null  object
 29  Baba Sektor                                                44747 non-null  object
 30  Kardes Sayisi                                              63993 non-null  object
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       63296 non-null  object
 32  Uye Oldugunuz Kulubun Ismi                                 16434 non-null  object
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               64010 non-null  object
 34  Spor Dalindaki Rolunuz Nedir?                              32850 non-null  object
 35  Aktif olarak bir STK üyesi misiniz?                        52283 non-null  object
 36  Hangi STK'nin Uyesisiniz?                                  15607 non-null  object
 37  Stk Projesine Katildiniz Mi?                               36817 non-null  object
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  52285 non-null  object
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  14599 non-null  object
 40  Ingilizce Biliyor musunuz?                                 58671 non-null  object
 41  Ingilizce Seviyeniz?                                       28592 non-null  object
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      419 non-null    object
dtypes: float64(2), int64(1), object(40)
memory usage: 21.4+ MB

In [4]:
data.columns

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burslu ise Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm',
       'Universite Kacinci Sinif', 'Universite Not Ortalamasi',
       'Daha Once Baska Bir Universiteden Mezun Olmus', 'Lise Adi',
       'Lise Adi Diger', 'Lise Sehir', 'Lise Turu', 'Lise Bolumu',
       'Lise Bolum Diger', 'Lise Mezuniyet Notu',
       'Baska Bir Kurumdan Burs Aliyor mu?', 'Burs Aldigi Baska Kurum',
       'Baska Kurumdan Aldigi Burs Miktari', 'Anne Egitim Durumu',
       'Anne Calisma Durumu', 'Anne Sektor', 'Baba Egitim Durumu',
       'Baba Calisma Durumu', 'Baba Sektor', 'Kardes Sayisi',
       'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?',
       'Uye Oldugunuz Kulubun Ismi',
       'Profesyonel Bir Spor Daliyla Mesgul musunuz?',
       'Spor Dalindaki Rolunuz Nedir?', 'Aktif olarak bir STK üyesi misiniz?',
       'Hangi STK'nin Uyesisiniz?', 'Stk Projesine Katildiniz Mi?',
       'Girisimcilikle Ilgili Deneyiminiz Var Mi?',
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
       'Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?',
       'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'],
      dtype='object')

In [8]:
data.rename(columns={"Aktif olarak bir STK üyesi misiniz?": "STK_Member"}, inplace=True)

In [9]:
data.STK_Member = data.STK_Member.map(lambda x: 1 if x == "Evet" else 0)
data.STK_Member.value_counts()

STK_Member
0    50558
1    14567
Name: count, dtype: int64

In [10]:
data.rename(columns={"Hangi STK'nin Uyesisiniz?": "STK_Name"}, inplace=True)

In [11]:
data.STK_Name.value_counts()

STK_Name
-                                                                                                                                                                           2956
Kızılay                                                                                                                                                                      238
Toplum Gönüllüleri Vakfı                                                                                                                                                     196
TEMA                                                                                                                                                                         181
LÖSEV                                                                                                                                                                        149
                                                                                                                                                                            ...
Dopingle Mücadele Komisyonu                                                                                                                                                    1
İzmir gönüllüler                                                                                                                                                               1
ODTÜ IEEE - Sosyal Sorumluluk Projesi Grubu üyesiyim. İşaret dili eğitimi aldım.                                                                                               1
Genç barış inisiyatifi ve genç kızılay aktif üyesiyim                                                                                                                          1
Genç Kızılay Topluluğu'nda 3 yıldır gönüllüyüm. 1 yıl boyunca topluluğun yönetim kurulunda üye ilişkileri birimi sorumlusuydum. Şu an gönüllü olarak toplulukta aktifim.       1
Name: count, Length: 9490, dtype: int64

In [12]:
data.drop(columns=["STK_Name"], inplace=True)

In [13]:
data.rename(columns={"Stk Projesine Katildiniz Mi?": "STK_Project_Attendee"}, inplace=True)

In [14]:
data.STK_Project_Attendee = data.STK_Project_Attendee.map(lambda x: 1 if x == "Evet" else 0)
data.STK_Project_Attendee.value_counts()

STK_Project_Attendee
0    47969
1    17156
Name: count, dtype: int64

In [15]:
data.rename(columns={"Girisimcilikle Ilgili Deneyiminiz Var Mi?": "Entrepreneur_Experience"}, inplace=True)

In [16]:
data.Entrepreneur_Experience = data.Entrepreneur_Experience.map(lambda x: 1 if x == "Evet" else 0)
data.Entrepreneur_Experience.value_counts()

Entrepreneur_Experience
0    46759
1    18366
Name: count, dtype: int64

In [17]:
data.rename(columns={"Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?": "Entrepreneur_Experience_Description"}, inplace=True)

In [18]:
data.Entrepreneur_Experience_Description.value_counts()

Entrepreneur_Experience_Description
-                                                                                                                                                                                        5196
Ticaret                                                                                                                                                                                    13
E ticaret                                                                                                                                                                                   9
Borsa                                                                                                                                                                                       8
B                                                                                                                                                                                           8
                                                                                                                                                                                         ...
Suanda restoran işletiyorum. KOSGEB eğitimlerine katıldım fakat destek almadım.                                                                                                             1
İnternet projeleri ve mobil projeler oldukça ilgimi çekmektedir. Kendi fikirlerimi hayata geçirdim.                                                                                         1
1-Girisimcilik100 2-intelagenda.com 3-Haberchina                                                                                                                                            1
45. TUBİTAK MALATYA BÖLGE YARIŞMASI                                                                                                                                                         1
Aile desteğiyle yemek sektöründe küçük bir işletme açtık. Ablamla birlikte işletmenin yönetimini sağladık fakat ekonomik sebeplerden dolayı işletmeyi kapatmak mecburiyetinde kaldık.       1
Name: count, Length: 9286, dtype: int64

In [19]:
data.drop(columns=["Entrepreneur_Experience_Description"], inplace=True)

In [20]:
data.rename(columns={"Ingilizce Biliyor musunuz?": "English_Knowledge"}, inplace=True)

In [21]:
data.English_Knowledge = data.English_Knowledge.map(lambda x: 1 if x == "Evet" else 0)
data.English_Knowledge.value_counts()

English_Knowledge
1    48872
0    16253
Name: count, dtype: int64

In [22]:
data.rename(columns={"Ingilizce Seviyeniz?": "English_Level"}, inplace=True)

In [23]:
data.English_Level.isna().sum()

np.int64(36533)

In [24]:
data.English_Level.value_counts()

English_Level
Orta         13057
İleri         8318
Başlangıç     5180
0             2037
Name: count, dtype: int64

In [25]:
english_level_mapping = {
    '0': 0,
    'Başlangıç': 1,
    'Orta': 2,
    'İleri': 3
}

data.English_Level= data.English_Level.apply(lambda x: english_level_mapping.get(x, 0))
data.English_Level.value_counts()

English_Level
0    38570
2    13057
3     8318
1     5180
Name: count, dtype: int64

In [26]:
data.rename(columns={"Profesyonel Bir Spor Daliyla Mesgul musunuz?": "Sports_Professional"}, inplace=True)

In [27]:
data.Sports_Professional = data.Sports_Professional.map(lambda x: 1 if x == "Evet" else 0)
data.Sports_Professional.value_counts()

Sports_Professional
0    43358
1    21767
Name: count, dtype: int64

In [28]:
data.rename(columns={"Spor Dalindaki Rolunuz Nedir?": "Sports_Role"}, inplace=True)

In [29]:
data.Sports_Role.value_counts()

Sports_Role
0                 11315
Diğer              8836
-                  4173
Lider/Kaptan       1994
DİĞER              1945
Bireysel           1697
Takım Oyuncusu     1175
Kaptan              873
KAPTAN / LİDER      842
Name: count, dtype: int64

In [30]:
data.Sports_Role.fillna("-", inplace=True)

In [31]:
def fix_sports_role(x):
    if x in ['0', '-']:
        return '-'
    if x in ['Lider/Kaptan', 'Kaptan', 'KAPTAN / LİDER']:
        return 'Lider'
    if x in ['Diğer', "DİĞER"]:
        return 'Diğer'
    return x

data.Sports_Role = data.Sports_Role.apply(fix_sports_role)
data.Sports_Role.value_counts()

Sports_Role
-                 47763
Diğer             10781
Lider              3709
Bireysel           1697
Takım Oyuncusu     1175
Name: count, dtype: int64

In [32]:
data.Sports_Role.isna().sum()

np.int64(0)

In [33]:
data.drop(columns=["Sports_Role"], inplace=True)

In [34]:
data.rename(columns={"Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?": "Startup_Club_Member"}, inplace=True)

In [35]:
data.Startup_Club_Member = data.Startup_Club_Member.map(lambda x: 1 if x == "Evet" else 0)
data.Startup_Club_Member.value_counts()

Startup_Club_Member
0    35539
1    29586
Name: count, dtype: int64

In [36]:
data.rename(columns={"Uye Oldugunuz Kulubun Ismi": "Startup_Club_Name"}, inplace=True)

In [37]:
data.Startup_Club_Name.value_counts()

Startup_Club_Name
IEEE                                                                            203
Girişimcilik Kulübü                                                              60
Kalite ve Verimlilik Kulübü                                                      43
AIESEC                                                                           40
İşletme Kulübü                                                                   39
                                                                               ...
KARADENİZ TEKNİK ÜNİVERSİTESİ EDEBİYAT KLÜBÜ                                      1
Koüsat                                                                            1
İzmir gençleri dağcılık klübü                                                     1
üniversite bünyesinde işletme kulübü ve kültür kulübünde aktif rol alıyorum.      1
Genç Kızılay                                                                      1
Name: count, Length: 13423, dtype: int64

In [38]:
data.Startup_Club_Name = data.Startup_Club_Name.apply(lambda x: "-" if str(x) == "nan" else str(x))
data.Startup_Club_Name.value_counts()

Startup_Club_Name
-                                                                               48694
IEEE                                                                              203
Girişimcilik Kulübü                                                                60
Kalite ve Verimlilik Kulübü                                                        43
AIESEC                                                                             40
                                                                                ...
KARADENİZ TEKNİK ÜNİVERSİTESİ EDEBİYAT KLÜBÜ                                        1
Koüsat                                                                              1
İzmir gençleri dağcılık klübü                                                       1
üniversite bünyesinde işletme kulübü ve kültür kulübünde aktif rol alıyorum.        1
Genç Kızılay                                                                        1
Name: count, Length: 13423, dtype: int64

In [39]:
data.Startup_Club_Name.nunique()

13423

In [40]:
data.drop(columns=["Startup_Club_Name"], inplace=True, axis=1)

In [41]:
import unicodedata

# Fazla boşlukları ve büyük/küçük harf farkını düzeltme fonksiyonu
def fix_unicodedata(x):
    # Stringe çevir ve küçük harfe dönüştür
    x = str(x).lower().strip()
    
    # Fazla boşlukları tek bir boşluğa indirgeme
    x = ' '.join(x.split())
    
    # Unicode normalizasyonu yap
    x = unicodedata.normalize('NFKD', x)
    x = ''.join([c for c in x if not unicodedata.combining(c)])
    return x

In [42]:
data.rename(columns={"Kardes Sayisi": "Siblings"}, inplace=True)

In [43]:
data.Siblings.value_counts()

Siblings
1.0                                             16186
2.0                                             13062
3.0                                              6734
1                                                6054
4.0                                              4611
2                                                3938
0.0                                              3701
5.0                                              3421
3                                                2087
0                                                1381
4                                                 998
5                                                 715
6.0                                               206
7.0                                               159
6                                                 135
10.0                                              127
7                                                 119
8.0                                                98
9.0                                                79
8                                                  75
9                                                  43
10                                                 42
11                                                 12
12                                                  5
13                                                  2
14                                                  1
18                                                  1
Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat        1
Name: count, dtype: int64

In [44]:
data.Siblings.isna().sum()

np.int64(1132)

In [45]:
data.Siblings = data.Siblings.apply(lambda x: int(x) if str(x).isdigit() else 0)

In [46]:
data.Siblings.value_counts()

Siblings
0     50898
1      6054
2      3938
3      2087
4       998
5       715
6       135
7       119
8        75
9        43
10       42
11       12
12        5
13        2
18        1
14        1
Name: count, dtype: int64

In [47]:
data.rename(columns={"Baba Calisma Durumu": "Father_Job"}, inplace=True)

In [48]:
data.Father_Job.value_counts()

Father_Job
Evet      28559
Hayır     12486
Emekli    11462
Name: count, dtype: int64

In [49]:
#buraya one-hot encoding uygulayabiliriz

In [50]:
data.rename(columns={"Anne Calisma Durumu": "Mother_Job"}, inplace=True)

In [51]:
data.Mother_Job.value_counts()

Mother_Job
Hayır     39371
Evet      10504
Emekli     3354
Name: count, dtype: int64

In [52]:
data.rename(columns={"Baba Sektor": "Father_Sector"}, inplace=True)

In [55]:
data.Father_Sector.fillna("-", inplace=True)
data.Father_Sector.value_counts()

Father_Sector
-              23448
Özel Sektör    11293
Kamu            7457
Diğer           6717
0               6631
ÖZEL SEKTÖR     4320
KAMU            2862
DİĞER           2397
Name: count, dtype: int64

In [56]:
def fix_parent_sector(x):
    if x in ['0', '-', 'nan']:
        return '-'
    return fix_unicodedata(x)

In [57]:
data.Father_Sector = data.Father_Sector.apply(fix_parent_sector)
data.Father_Sector.value_counts()

Father_Sector
-              30079
ozel sektor    15613
kamu           10319
diger           9114
Name: count, dtype: int64

In [58]:
data.rename(columns={"Anne Sektor": "Mother_Sector"}, inplace=True)

In [59]:
data.Mother_Sector.value_counts()

Mother_Sector
0              11780
-               5827
Özel Sektör     4425
Kamu            3805
ÖZEL SEKTÖR     1617
KAMU            1344
Diğer           1333
DİĞER            457
Name: count, dtype: int64

In [60]:
data.Mother_Sector[data.Mother_Sector.isna()] = "-"

In [61]:
data.Mother_Sector.value_counts()

Mother_Sector
-              40364
0              11780
Özel Sektör     4425
Kamu            3805
ÖZEL SEKTÖR     1617
KAMU            1344
Diğer           1333
DİĞER            457
Name: count, dtype: int64

In [62]:
data.Mother_Sector = data.Mother_Sector.apply(fix_parent_sector)
data.Mother_Sector.value_counts()

Mother_Sector
-              52144
ozel sektor     6042
kamu            5149
diger           1790
Name: count, dtype: int64

In [63]:
data.Entrepreneur_Experience.value_counts()

Entrepreneur_Experience
0    46759
1    18366
Name: count, dtype: int64

In [64]:
data['Entrepreneur_Experience_Description'] = data_['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']

In [65]:
data.Entrepreneur_Experience_Description.value_counts()

Entrepreneur_Experience_Description
-                                                                                                                                                                                        5196
Ticaret                                                                                                                                                                                    13
E ticaret                                                                                                                                                                                   9
Borsa                                                                                                                                                                                       8
B                                                                                                                                                                                           8
                                                                                                                                                                                         ...
Suanda restoran işletiyorum. KOSGEB eğitimlerine katıldım fakat destek almadım.                                                                                                             1
İnternet projeleri ve mobil projeler oldukça ilgimi çekmektedir. Kendi fikirlerimi hayata geçirdim.                                                                                         1
1-Girisimcilik100 2-intelagenda.com 3-Haberchina                                                                                                                                            1
45. TUBİTAK MALATYA BÖLGE YARIŞMASI                                                                                                                                                         1
Aile desteğiyle yemek sektöründe küçük bir işletme açtık. Ablamla birlikte işletmenin yönetimini sağladık fakat ekonomik sebeplerden dolayı işletmeyi kapatmak mecburiyetinde kaldık.       1
Name: count, Length: 9286, dtype: int64

In [66]:
def check_experience(x):
    if x == np.nan or str(x) == "-":
        return 0
    if len(str(x).lower().strip()) == 0:
        return 0
    return 1

In [67]:
data.loc[data.Entrepreneur_Experience == 1, 'Entrepreneur_Experience'] = data.loc[data.Entrepreneur_Experience == 1, 'Entrepreneur_Experience_Description'].apply(check_experience)

In [68]:
data.Entrepreneur_Experience.value_counts()

Entrepreneur_Experience
0    46763
1    18362
Name: count, dtype: int64

In [69]:
data.drop(columns=["Entrepreneur_Experience_Description"], inplace=True)

In [70]:
data.rename(columns={"Anne Egitim Durumu": "Mother_Education"}, inplace=True)

In [71]:
data.Mother_Education.value_counts()

Mother_Education
İlkokul                    10351
Lise                        8467
İlkokul Mezunu              8030
İLKOKUL MEZUNU              7770
Üniversite                  5502
Eğitimi yok                 3605
LİSE                        3582
Ortaokul                    3126
EĞİTİM YOK                  2600
ÜNİVERSİTE                  2435
Eğitim Yok                  2146
Ortaokul Mezunu             2119
ORTAOKUL MEZUNU             1788
Lise Mezunu                 1346
Üniversite Mezunu           1075
Yüksek Lisans                274
YÜKSEK LİSANS                153
Yüksek Lisans / Doktora      123
Yüksek Lisans / Doktara       85
Doktora                       80
DOKTORA                       62
Name: count, dtype: int64

In [72]:
data.Mother_Education.fillna("-", inplace=True)

In [73]:
def fix_parent_education(x):
    x = str(x)
    if x == np.nan:
        return '-'
    if x.lower().strip() in ['0', '-', 'nan']:
        return '-'

    if "/" in x:
        x = x.split("/")[1].strip()
    if "yok" in x.lower().strip():
        return '-'
    if "doktara" in x.lower().strip():
        x = "doktora"
    x = x.split()[0].strip()
    
    return fix_unicodedata(x)

data.Mother_Education = data.Mother_Education.apply(fix_parent_education)
data.Mother_Education.value_counts()

Mother_Education
ilkokul       26151
lise          13395
universite     9012
-              8757
ortaokul       7033
yuksek          427
doktora         350
Name: count, dtype: int64

In [74]:
data.rename(columns={"Baba Egitim Durumu": "Father_Education"}, inplace=True)

In [75]:
data.Father_Education.value_counts()

Father_Education
Lise                       10008
Üniversite                  9149
İlkokul                     8257
İLKOKUL MEZUNU              5784
İlkokul Mezunu              5389
LİSE                        4482
ÜNİVERSİTE                  4258
Ortaokul                    4109
Ortaokul Mezunu             2540
ORTAOKUL MEZUNU             2531
Üniversite Mezunu           1731
Lise Mezunu                 1405
Eğitimi yok                 1102
EĞİTİM YOK                   811
Yüksek Lisans                596
Eğitim Yok                   585
YÜKSEK LİSANS                367
Yüksek Lisans / Doktora      289
Doktora                      222
Yüksek Lisans / Doktara      215
DOKTORA                      177
0                            111
Name: count, dtype: int64

In [76]:
data.Father_Education = data.Father_Education.apply(fix_parent_education)
data.Father_Education.value_counts()

Father_Education
ilkokul       19430
lise          15895
universite    15138
ortaokul       9180
-              3616
yuksek          963
doktora         903
Name: count, dtype: int64

In [77]:
data.rename(columns={"Baska Bir Kurumdan Burs Aliyor mu?": "Scholarship_From_Other_Institution"}, inplace=True)

In [78]:
data.Scholarship_From_Other_Institution.value_counts()

Scholarship_From_Other_Institution
Hayır    48513
Evet     16381
Name: count, dtype: int64

In [79]:
data.Scholarship_From_Other_Institution.fillna(0, inplace=True)

In [80]:
data.Scholarship_From_Other_Institution = data.Scholarship_From_Other_Institution.map(lambda x: 1 if x == "Evet" else 0)

In [81]:
data.Scholarship_From_Other_Institution.value_counts()

Scholarship_From_Other_Institution
0    48744
1    16381
Name: count, dtype: int64

In [82]:
data.rename(columns={"Burs Aldigi Baska Kurum": "Scholarship_From_Other_Institution_Name"}, inplace=True)

In [83]:
data.Scholarship_From_Other_Institution_Name.isna().sum()

np.int64(43977)

In [84]:
data.Scholarship_From_Other_Institution_Name.fillna("-", inplace=True)

In [85]:
data.Scholarship_From_Other_Institution_Name.value_counts()[20:40]

Scholarship_From_Other_Institution_Name
devlet                                    59
KREDİ YURTLAR KURUMU                      57
kyk bursu                                 55
Kredi ve Yurtlar Genel Müdürlüğü          51
Ky                                        47
KYK BURSU                                 46
Gençlik ve Spor Bakanlığı                 45
Kyk kredi                                 45
Bilkent Üniversitesi                      41
Mehmet Zorlu Vakfı                        39
TÜBİTAK                                   38
Yüksek Öğrenim Kredi ve Yurtlar Kurumu    37
Koç Üniversitesi                          37
Sabancı Vakfı                             36
Kyk devlet bursu                          36
Anadolu Vakfı                             36
Başbakanlık                               34
Kyk bursu alıyorum                        33
KY                                        33
Toplum Gönüllüleri Vakfı                  31
Name: count, dtype: int64

In [86]:
data.drop(columns=["Scholarship_From_Other_Institution_Name"], inplace=True)

In [87]:
data.rename(columns={"Baska Kurumdan Aldigi Burs Miktari": "Scholarship_From_Other_Institution_Amount"}, inplace=True)

In [88]:
data.Scholarship_From_Other_Institution_Amount.fillna("-", inplace=True)

In [89]:
data.Scholarship_From_Other_Institution_Amount.value_counts()[:10]

Scholarship_From_Other_Institution_Amount
-               48886
500 ve üzeri     4513
500₺ - 999₺      2448
500              1966
425              1344
400               931
300-500           920
300               395
Diğer             275
200               240
Name: count, dtype: int64

In [90]:
data.drop(columns=["Scholarship_From_Other_Institution_Amount"], inplace=True)

In [91]:
data['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'].fillna("-", inplace=True)

In [92]:
data['Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'].value_counts()[:15]

Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite
-                           64706
Anadolu Üniversitesi           26
ANADOLU ÜNİVERSİTESİ           19
MARMARA ÜNİVERSİTESİ           11
İSTANBUL ÜNİVERSİTESİ           8
SELÇUK ÜNİVERSİTESİ             7
ATATÜRK ÜNİVERSİTESİ            7
EGE ÜNİVERSİTESİ                7
KOCAELİ ÜNİVERSİTESİ            7
ULUDAĞ ÜNİVERSİTESİ             6
Kocaeli Üniversitesi            6
Dokuz Eylül Üniversitesi        6
İstanbul Üniversitesi           6
Diğer                           6
AKDENİZ ÜNİVERSİTESİ            6
Name: count, dtype: int64

In [93]:
data.drop(columns=["Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite"], inplace=True)

In [95]:
missing_datar = data.isnull().sum() / len(data) * 100
print(missing_datar[missing_datar > 0].sort_values(ascending=False))

Lise Bolum Diger                                 97.656814
Lise Adi Diger                                   92.732438
Burslu ise Burs Yuzdesi                          65.543186
Daha Once Baska Bir Universiteden Mezun Olmus    57.343570
Father_Job                                       19.375048
Mother_Job                                       18.266411
Lise Mezuniyet Notu                               9.085605
Universite Not Ortalamasi                         4.227255
Ikametgah Sehri                                   3.127831
Lise Sehir                                        1.618426
Lise Bolumu                                       1.549328
Lise Turu                                         1.300576
Dogum Yeri                                        1.214587
Lise Adi                                          0.589635
Universite Kacinci Sinif                          0.574280
Universite Turu                                   0.391555
Bölüm                                             0.354702
Dogum Tarihi                                      0.271785
Cinsiyet                                          0.259501
Universite Adi                                    0.202687
Degerlendirme Puani                               0.001536
dtype: float64

In [96]:
data.drop(columns=["Lise Bolum Diger"], inplace=True)
data.drop(columns=["Lise Adi Diger"], inplace=True)

In [97]:
data.rename(columns={"Lise Mezuniyet Notu": "Lise_Graduation_Score"}, inplace=True)

In [98]:
data.Lise_Graduation_Score.fillna("-", inplace=True)
data.Lise_Graduation_Score.value_counts()

Lise_Graduation_Score
75 - 100              22433
84-70                  9141
100-85                 6967
-                      5917
4.00-3.50              3689
50 - 75                3115
3.00 - 4.00            3101
3.50-3.00              2759
3.50-3                 2330
69-55                  2162
3.00-2.50              2153
50 - 74                1007
2.50 ve altı            226
54-45                    88
25 - 50                  14
Not ortalaması yok       11
44-0                      6
0 - 25                    3
25 - 49                   2
0 - 24                    1
Name: count, dtype: int64

In [99]:
lise_graduation_score_mapping = {
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '0 - 24': 0,
    '0 - 25': 0,
    '25 - 49': 1,
    '25 - 50': 1,
    '54-45': 1,
    '2.50 ve altı': 1,
    '44-0': 1,
    '50 - 74': 2,
    '3.00-2.50': 2,
    '69-55': 2,
    '50 - 75': 2,
    '3.50-3': 3,
    '3.50-3.00': 3,
    '3.00 - 4.00': 3,
    '4.00-3.50': 3,
    '100-85': 3,
    '84-70': 3,
    '75 - 100': 3,
}

def fix_lise_graduation_score(x):
    if str(x) in lise_graduation_score_mapping:
        return lise_graduation_score_mapping[str(x)]
    return 0

data.Lise_Graduation_Score = data.Lise_Graduation_Score.apply(fix_lise_graduation_score)
data.Lise_Graduation_Score.value_counts()

Lise_Graduation_Score
3    50420
2     8437
0     5932
1      336
Name: count, dtype: int64

In [100]:
data.rename(columns={"Lise Bolumu": "Lise_Department"}, inplace=True)

In [101]:
data.Lise_Department.fillna("-", inplace=True)
data.Lise_Department.value_counts()[20:40]

Lise_Department
FEN BİLİMLERİ            106
Eşit ağırlık             104
EŞİT AĞIRLIK              91
Matematik-Fen             80
fen bilimleri             76
Tm                        76
Bilişim Teknolojileri     75
fen                       75
sayisal                   71
Türkçe Matematik          61
TÜRKÇE-MATEMATİK          59
Fen bilimleri             48
mf                        48
türkçe-matematik          46
FEN                       45
türkçe matematik          44
sözel                     44
Sayisal                   40
EA                        31
TÜRKÇE MATEMATİK          27
Name: count, dtype: int64

In [102]:
lise_department_esit = [
    'Eşit Ağırlık', 'EŞİT AĞIRLIK TÜRKÇE-MATEMATİK ALANI', 'TM', 'eşit ağırlık', 'tm', 'Türkçe-Matematik',
    'Eşit ağırlık', 'EŞİT AĞIRLIK', 'Tm', 'Türkçe Matematik', 'TÜRKÇE-MATEMATİK', 'türkçe-matematik',
    'türkçe matematik', 'EA', 'TÜRKÇE MATEMATİK'
]


lise_department_sozel = ['SOZEL', 'Sözel', 'SOSYAL ALANI', 'sözel']
    

lise_department_sayisal = [
    'SAYISAL', 'Sayısal', 'FEN SAYISAL BİLİMLERİ ALANI', 'sayısal', 'Fen Bilimleri', 'MF', 'Fen', 
    'FEN BİLİMLERİ', 'Matematik-Fen', 'fen bilimleri', 'Bilişim Teknolojileri', 'fen', 'sayisal',
    'Fen bilimleri', 'mf', 'FEN', 'Sayisal', 'ESIT'
]


def fix_lise_department(x):
    x = str(x).strip()
    if x in lise_department_sayisal:
        return 'SAYISAL'
    if x in lise_department_sozel:
        return 'SOZEL'
    if x in lise_department_esit:
        return 'ESIT'
    return '-'

data.Lise_Department = data.Lise_Department.apply(fix_lise_department)
data.Lise_Department.value_counts()

Lise_Department
SAYISAL    34814
ESIT       21280
-           4945
SOZEL       4086
Name: count, dtype: int64

In [103]:
data.Lise_Department = data.Lise_Department.map(lambda x: 'DIGER' if x == '-' else x)

In [104]:
data.Lise_Department.value_counts()

Lise_Department
SAYISAL    34814
ESIT       21280
DIGER       4945
SOZEL       4086
Name: count, dtype: int64

In [105]:
data.columns

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burslu ise Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm',
       'Universite Kacinci Sinif', 'Universite Not Ortalamasi',
       'Daha Once Baska Bir Universiteden Mezun Olmus', 'Lise Adi',
       'Lise Sehir', 'Lise Turu', 'Lise_Department', 'Lise_Graduation_Score',
       'Scholarship_From_Other_Institution', 'Mother_Education', 'Mother_Job',
       'Mother_Sector', 'Father_Education', 'Father_Job', 'Father_Sector',
       'Siblings', 'Startup_Club_Member', 'Sports_Professional', 'STK_Member',
       'STK_Project_Attendee', 'Entrepreneur_Experience', 'English_Knowledge',
       'English_Level'],
      dtype='object')

In [106]:
data.rename(columns={"Lise Turu": "Lise_Type"}, inplace=True)

In [107]:
data.Lise_Type.fillna("-", inplace=True)
data.Lise_Type.value_counts()

Lise_Type
Anadolu Lisesi       13367
Diğer                13184
Anadolu lisesi        7002
Devlet                6204
Özel                  4746
Düz lise              4179
Meslek lisesi         3666
Düz Lise              2789
Meslek                2454
Fen Lisesi            2159
Özel Lisesi           1474
İmam Hatip Lisesi     1158
-                      847
Fen lisesi             660
Özel lisesi            489
Meslek Lisesi          415
Özel Lise              332
Name: count, dtype: int64

In [108]:
def fix_lise_type(x):
    x = str(x).strip()

    if x in ['Anadolu Lisesi', 'Anadolu lisesi', 'Devlet', 'Düz lise', 'Düz Lise', 'ANADOLU']:
        return 'ANADOLU'
    if x in ['Fen Lisesi', 'Fen lisesi', 'FEN']:
        return 'FEN'
    if x in ['Meslek lisesi', 'Meslek', 'Meslek Lisesi', 'MESLEK']:
        return 'MESLEK'
    if x in ['Özel Lisesi', 'Özel lisesi', 'Özel Lise', 'Özel', 'ÖZEL']:
        return 'OZEL'
    return 'DIGER'

data.Lise_Type = data.Lise_Type.apply(fix_lise_type)
data.Lise_Type.value_counts()

Lise_Type
ANADOLU    33541
DIGER      15189
OZEL        7041
MESLEK      6535
FEN         2819
Name: count, dtype: int64

In [109]:
data.rename(columns={"Lise Sehir": "Lise_City"}, inplace=True)

In [110]:
data.Lise_City.fillna("-", inplace=True)
data.Lise_City.value_counts()

Lise_City
İstanbul         8868
Ankara           4940
Istanbul         3933
İzmir            2241
Bursa            2240
                 ...
Çeşme/İzmir         1
elazig              1
Ayvalık             1
BOYABAT/SİNOP       1
Tursunzade          1
Name: count, Length: 889, dtype: int64

In [111]:
data.drop(columns=["Lise_City"], inplace=True)

In [112]:
data.rename(columns={"Lise Adi": "Lise_Name"}, inplace=True)

In [113]:
data.Lise_Name.fillna("-", inplace=True)
data.Lise_Name.value_counts()

Lise_Name
------                                                                             4251
-                                                                                   385
Atatürk Lisesi                                                                      199
Açık öğretim lisesi                                                                 161
Açık Öğretim Lisesi                                                                 151
                                                                                   ...
Nişantaşı Işık Lisesi                                                                 1
Tarsus atatürk lisesi                                                                 1
Hüsniye Özdilek Ticaret ve İletişim Anadolu Lisesi (Radyo ve Televizyon Bölümü)       1
Ses okulları                                                                          1
Samsun Terme Karadeniz mesleki teknik Anadolu lisesi                                  1
Name: count, Length: 31950, dtype: int64

In [114]:
data.drop(columns=["Lise_Name"], inplace=True)

In [115]:
data.rename(columns={"Daha Once Baska Bir Universiteden Mezun Olmus": "Previous_University_Graduation"}, inplace=True)

In [116]:
data.Previous_University_Graduation.isna().sum()

np.int64(37345)

In [117]:
data.Previous_University_Graduation.value_counts()

Previous_University_Graduation
Hayır    26624
Evet      1156
Name: count, dtype: int64

In [118]:
data.Previous_University_Graduation = data.Previous_University_Graduation.map(lambda x: 1 if x == "Evet" else 0)
data.Previous_University_Graduation.value_counts()

Previous_University_Graduation
0    63969
1     1156
Name: count, dtype: int64

In [119]:
data.rename(columns={"Universite Not Ortalamasi": "University_Gano"}, inplace=True)

In [120]:
data.University_Gano.fillna("-", inplace=True)
data.University_Gano.value_counts()

University_Gano
3.00-2.50              10758
2.50 ve altı           10554
3.00 - 3.50             7913
3.50-3                  6179
2.50 - 3.00             5782
3.50 - 4.00             4462
-                       2753
2.00 - 2.50             2519
2.50 - 2.99             2452
ORTALAMA BULUNMUYOR     2399
3.00 - 3.49             2382
2.50 -3.00              1734
3.00 - 4.00             1411
1.80 - 2.49             1166
Hazırlığım               668
Not ortalaması yok       586
4-3.5                    481
Ortalama bulunmuyor      413
1.00 - 2.50              327
0 - 1.79                 185
4.0-3.5                    1
Name: count, dtype: int64

In [121]:
university_gano_mapping = {
    '-': 0, 'ORTALAMA BULUNMUYOR': 0, 'Not ortalaması yok': 0, 'Hazırlığım': 0,'Ortalama bulunmuyor': 0,
    "0 - 1.79": 0, "1.00 - 2.50": 1, "1.80 - 2.49": 1, "2.50 ve altı": 2, "2.00 - 2.50": 2,
    "3.00-2.50": 2, "2.50 -3.00": 2, "2.50 - 2.99": 2, "2.50 - 3.00": 2, "3.00 - 3.50": 3,
    "3.00 - 4.00": 3, "3.00 - 3.49": 3,"3.50-3": 3, "4-3.5": 3, "4-3.5": 3, "3.50 - 4.00": 3, "4.0-3.5": 3
}

data.University_Gano = data.University_Gano.apply(lambda x: university_gano_mapping.get(x, 0))
data.University_Gano.value_counts()

University_Gano
2    33799
3    22829
0     7004
1     1493
Name: count, dtype: int64

In [122]:
data.rename(columns={"Universite Kacinci Sinif": "University_Class"}, inplace=True)

In [123]:
data.University_Class.fillna("-", inplace=True)
data.University_Class.value_counts()

University_Class
2                21773
3                16956
4                13113
1                10260
Hazırlık          1275
5                  961
-                  374
Mezun              178
6                  177
hazırlık            33
Yüksek Lisans       15
Tez                  7
0                    3
Name: count, dtype: int64

In [124]:
university_class_mapping =  {'1': 1, '2': 2, '3': 3,'4': 4, '5': 5,'6':5,'yuksek lisans':7,'tez':7,'mezun':6,"hazirlik":0, "0":0}
data.University_Class = data.University_Class.apply(lambda x: university_class_mapping.get(x, 0))
data.University_Class.value_counts()

University_Class
2    21773
3    16956
4    13113
1    10260
0     1885
5     1138
Name: count, dtype: int64

In [125]:
data.rename(columns={"Bölüm": "University_Department"}, inplace=True)

In [126]:
data.University_Department.fillna("-", inplace=True)
data.University_Department.value_counts()

University_Department
Endüstri Mühendisliği               2434
İşletme                             2318
Bilgisayar Mühendisliği             1917
Hukuk                               1769
Makine Mühendisliği                 1283
                                    ...
Matematik Muhendisliği                 1
İlahiyat Fakultesi                     1
Petrol ve Doğal Gaz Mühendsiliği       1
radyo,sinema ve televizyon             1
Nanoteknoloji Mühendisliği             1
Name: count, Length: 7748, dtype: int64

In [127]:
data.drop(columns=["University_Department"], inplace=True)

In [128]:
data.rename(columns={"Burs Aliyor mu?": "Scholarship"}, inplace=True)

In [129]:
data.Scholarship.value_counts()

Scholarship
Hayır    51978
Evet      9289
EVET      3475
hayır      272
evet       111
Name: count, dtype: int64

In [130]:
data.Scholarship = data.Scholarship.map(lambda x: 1 if fix_unicodedata(x) == "evet" else 0)
data.Scholarship.value_counts()

Scholarship
0    52250
1    12875
Name: count, dtype: int64

In [131]:
data.rename(columns={"Burslu ise Burs Yuzdesi": "Scholarship_Percentage"}, inplace=True)

In [132]:
data.Scholarship_Percentage.isna().sum()

np.int64(42685)

In [133]:
data.Scholarship_Percentage.fillna("-", inplace=True)
data.Scholarship_Percentage.value_counts()

Scholarship_Percentage
-        42685
0.0      12172
100.0     5049
50.0      3149
75.0      1002
25.0       785
10.0        50
60.0        27
1.0         26
65.0        17
80.0        15
5.0         14
30.0        14
85.0        11
2.0         10
55.0         8
35.0         7
62.5         7
62.0         7
45.0         6
7.0          6
70.0         5
20.0         5
99.0         5
90.0         4
40.0         4
63.0         4
6.0          4
3.0          2
98.0         2
8.0          2
11.0         1
4.0          1
32.0         1
91.5         1
37.0         1
67.5         1
88.0         1
87.5         1
82.5         1
74.0         1
72.0         1
69.0         1
67.0         1
41.0         1
64.0         1
57.5         1
57.0         1
48.0         1
46.0         1
41.5         1
49.0         1
Name: count, dtype: int64

In [134]:
data.loc[data.Scholarship == 0, "Scholarship_Percentage"].value_counts()

Scholarship_Percentage
-        41348
0.0      10532
100.0      190
50.0        91
25.0        80
75.0         9
Name: count, dtype: int64

In [135]:
data.loc[data.Scholarship == 1, "Scholarship_Percentage"].value_counts()

Scholarship_Percentage
100.0    4859
50.0     3058
0.0      1640
-        1337
75.0      993
25.0      705
10.0       50
60.0       27
1.0        26
65.0       17
80.0       15
5.0        14
30.0       14
85.0       11
2.0        10
55.0        8
62.0        7
35.0        7
62.5        7
7.0         6
45.0        6
70.0        5
99.0        5
20.0        5
40.0        4
63.0        4
6.0         4
90.0        4
3.0         2
8.0         2
98.0        2
41.5        1
67.0        1
88.0        1
87.5        1
82.5        1
74.0        1
4.0         1
72.0        1
69.0        1
67.5        1
64.0        1
41.0        1
11.0        1
57.5        1
57.0        1
91.5        1
32.0        1
48.0        1
37.0        1
46.0        1
49.0        1
Name: count, dtype: int64

In [136]:
data.Scholarship_Percentage = data.Scholarship_Percentage.apply(lambda x: '0.0' if str(x) == '-' else str(x))
data['Scholarship_Percentage'] = data['Scholarship_Percentage'].str.strip().astype('float')
data.Scholarship_Percentage.value_counts()

Scholarship_Percentage
0.0      54857
100.0     5049
50.0      3149
75.0      1002
25.0       785
10.0        50
60.0        27
1.0         26
65.0        17
80.0        15
5.0         14
30.0        14
85.0        11
2.0         10
55.0         8
62.5         7
62.0         7
35.0         7
45.0         6
7.0          6
70.0         5
99.0         5
20.0         5
40.0         4
90.0         4
63.0         4
6.0          4
3.0          2
8.0          2
98.0         2
46.0         1
82.5         1
69.0         1
88.0         1
64.0         1
4.0          1
87.5         1
57.5         1
57.0         1
91.5         1
11.0         1
41.5         1
49.0         1
74.0         1
72.0         1
32.0         1
48.0         1
37.0         1
67.0         1
41.0         1
67.5         1
Name: count, dtype: int64

In [137]:
def fix_scholarship_percentage(x):
    return (x // 5) * 5

data.Scholarship_Percentage = data.Scholarship_Percentage.apply(fix_scholarship_percentage)
data.Scholarship_Percentage.value_counts().sort_values(ascending=False)

Scholarship_Percentage
0.0      54896
100.0     5049
50.0      3149
75.0      1002
25.0       785
10.0        51
60.0        46
5.0         26
65.0        20
80.0        16
30.0        15
85.0        13
55.0        10
45.0         9
35.0         8
95.0         7
70.0         7
40.0         6
20.0         5
90.0         5
Name: count, dtype: int64

In [138]:
data.rename(columns={"Universite Turu": "University_Type"}, inplace=True)

In [139]:
data.University_Type.value_counts()

University_Type
Devlet    37885
DEVLET    15377
Özel       8336
ÖZEL       3272
Name: count, dtype: int64

In [140]:
data.University_Type.fillna("Devlet", inplace=True)
data.University_Type = data.University_Type.str.capitalize()

data.University_Type.value_counts()

University_Type
Devlet    53517
Özel      11608
Name: count, dtype: int64

In [141]:
data['Universite Adi'].value_counts()

Universite Adi
İSTANBUL ÜNİVERSİTESİ                      2083
MARMARA ÜNİVERSİTESİ                       1672
İSTANBUL TEKNİK ÜNİVERSİTESİ               1464
YILDIZ TEKNİK ÜNİVERSİTESİ                 1438
ORTA DOĞU TEKNİK ÜNİVERSİTESİ              1258
                                           ...
Brown University                              1
ALANYA HAMDULLAH EMİN PAŞA ÜNİVERSİTESİ       1
İstanbul Bilim Üniversitesi                   1
AVRUPA MESLEK YÜKSEKOKULU                     1
İstanbul Atlas Üniversitesi                   1
Name: count, Length: 527, dtype: int64

In [142]:
data.drop(columns=["Universite Adi"], inplace=True)

In [143]:
data['Ikametgah Sehri'].value_counts()

Ikametgah Sehri
İstanbul               16625
Ankara                  6485
Istanbul                3469
İzmir                   3096
Bursa                   1752
                       ...
Beylikdüzü/İstanbul        1
ODTÜ/Ankara                1
Dilovası/Kocaeli           1
Çaycuma/Zonguldak          1
Çankaya/Ankara             1
Name: count, Length: 319, dtype: int64

In [144]:
data['Dogum Yeri'].value_counts()

Dogum Yeri
İstanbul             8682
Ankara               4045
İzmir                2170
Istanbul             1894
Adana                1810
                     ...
körfez/kocaeli          1
GEDIZ                   1
İstanbul Bakırköy       1
İstanbul-Şişli          1
Ankara keçiören         1
Name: count, Length: 2230, dtype: int64

In [145]:
data.drop(columns=["Ikametgah Sehri", "Dogum Yeri"], inplace=True)

In [146]:
data.rename(columns={"Cinsiyet": "Gender"}, inplace=True)

In [147]:
data.Gender.value_counts()

Gender
Kadın                    32077
Erkek                    22752
ERKEK                    10012
Belirtmek istemiyorum      115
Name: count, dtype: int64

In [148]:
data.fillna("Belirtmek istemiyorum", inplace=True)

In [149]:
data.Gender = data.Gender.map(lambda x: "NA" if str(x) == "Belirtmek istemiyorum" else x.upper())
data.Gender.value_counts()

Gender
ERKEK    32764
KADIN    32077
NA         284
Name: count, dtype: int64

In [150]:
data.rename(columns={"Basvuru Yili": "Application_Year"}, inplace=True)

In [151]:
data.Application_Year.isna().sum()

np.int64(0)

In [152]:
data.Application_Year.value_counts()

Application_Year
2021    11594
2017    10325
2015     7804
2020     7760
2022     7622
2019     7248
2014     6454
2016     5213
2018     1105
Name: count, dtype: int64

In [153]:
data.Application_Year = data.Application_Year.astype(str)
data.Application_Year.dtype

dtype('O')

In [154]:
data.rename(columns={"Degerlendirme Puani": "Evaluation_Score"}, inplace=True)

In [155]:
data.Evaluation_Score.isna().sum()

np.int64(0)

In [156]:
data.Evaluation_Score.dtype

dtype('O')

In [157]:
data['Evaluation_Score_Numeric'] = pd.to_numeric(data['Evaluation_Score'], errors='coerce')
data.Evaluation_Score_Numeric.isna().sum()

np.int64(1)

In [158]:
data.Evaluation_Score = data.Evaluation_Score_Numeric

In [159]:
data.Evaluation_Score.fillna(0, inplace=True)

In [160]:
data.drop(columns=["Evaluation_Score_Numeric"], inplace=True)

In [161]:
data.rename(columns={"Dogum Tarihi": "Birth_Date"}, inplace=True)

In [162]:
data.Birth_Date.isna().sum()

np.int64(0)

In [163]:
data.Birth_Date.value_counts()[:40]

Birth_Date
1/1/70 2:00              1655
1/1/00 0:00               179
Belirtmek istemiyorum     177
1/1/01 0:00               154
1/1/1997                  139
1/1/1998                  129
1/1/1996                  119
1/1/99 0:00               117
1/1/1995                  106
1/1/1999                   84
1.01.2001 00:00            82
1/1/98 0:00                81
1-Jan-95                   78
1/1/1994                   73
1/1/02 0:00                71
1/1/1993                   68
1.01.2000 00:00            61
1.01.2002 00:00            59
1-Jan-94                   59
1-Jan-90                   57
1-Jan-96                   52
1/1/2000                   50
1-Jan-93                   43
1/1/97 0:00                43
1994-01-01                 40
1/1/1970                   38
1/1/1992                   37
1995-01-01                 36
1996-01-01                 35
1/1/1991                   32
10/1/1997                  30
3/1/00 0:00                29
1.01.1999 00:00            29
1/2/1997                   27
9/15/99 0:00               27
1/3/00 0:00                27
3/1/1997                   27
5/5/1997                   26
7/23/01 0:00               26
8/20/99 0:00               26
Name: count, dtype: int64

In [164]:
import re
def extract_year(birth_date):
    birth_date = str(birth_date)
    # Eğer "Belirtmek istemiyorum" gibi metin varsa NaN yap
    if re.search(r'Belirtmek istemiyorum', birth_date):
        return None
    # Düzenli ifadeyle 4 haneli yılları çek
    match = re.search(r'\b(19|20)\d{2}\b', birth_date)
    if match:
        return match.group(0)
    # 2 haneli yıllar için (örneğin, '70, '99), varsayılan olarak 1900'ler ya da 2000'ler
    match = re.search(r'\b\d{2}\b', birth_date)
    if match:
        year = int(match.group(0))
        return '19' + str(year) if year >= 70 else '20' + str(year)
    return None

In [165]:
data.Birth_Date = data.Birth_Date.apply(extract_year)

In [166]:
# Yıl bilgisini sayısal formata çevirme
data['Birth_Date'] = pd.to_numeric(data['Birth_Date'])

# Min ve Max değerleri bulma
min_year = data['Birth_Date'].min()
max_year = data['Birth_Date'].max()

print(f"Min year: {min_year}")
print(f"Max year: {max_year}")

Min year: 200.0
Max year: 2050.0

In [167]:
data['Application_Age'] = data['Application_Year'].astype(int) - data['Birth_Date']

In [168]:
data.Application_Age.value_counts().sort_values(ascending=False)

Application_Age
 21.0      10888
 20.0       9610
 22.0       9293
 19.0       5334
 23.0       5327
           ...
 73.0          1
-33.0          1
 1816.0        1
 1811.0        1
 14.0          1
Name: count, Length: 71, dtype: int64

In [169]:
data['Valid_Age'] = data['Application_Age'].apply(lambda x: True if 18 <= x <= 60 else False)
data.Valid_Age.value_counts()

Valid_Age
True     45428
False    19697
Name: count, dtype: int64

In [170]:
Application_Age_mean = data[data.Valid_Age == True].Application_Age.mean()
Application_Age_mean

np.float64(22.301840274720437)

In [171]:
data.Application_Age = data.Application_Age.apply(lambda x: x if 18 <= x <= 60 else Application_Age_mean)

In [172]:
data.Application_Age.value_counts().sort_values(ascending=False)

Application_Age
22.30184    19697
21.00000    10888
20.00000     9610
22.00000     9293
19.00000     5334
23.00000     5327
24.00000     2218
50.00000     1104
51.00000      564
25.00000      543
18.00000      283
26.00000       95
27.00000       47
44.00000       45
28.00000       29
30.00000       13
29.00000       11
31.00000        6
38.00000        5
34.00000        5
45.00000        2
40.00000        2
37.00000        1
32.00000        1
35.00000        1
42.00000        1
Name: count, dtype: int64

In [173]:
data.drop(columns=["Valid_Age", "Birth_Date"], inplace=True)

In [174]:
data.columns

Index(['Application_Year', 'Evaluation_Score', 'Gender', 'University_Type',
       'Scholarship_Percentage', 'Scholarship', 'University_Class',
       'University_Gano', 'Previous_University_Graduation', 'Lise_Type',
       'Lise_Department', 'Lise_Graduation_Score',
       'Scholarship_From_Other_Institution', 'Mother_Education', 'Mother_Job',
       'Mother_Sector', 'Father_Education', 'Father_Job', 'Father_Sector',
       'Siblings', 'Startup_Club_Member', 'Sports_Professional', 'STK_Member',
       'STK_Project_Attendee', 'Entrepreneur_Experience', 'English_Knowledge',
       'English_Level', 'Application_Age'],
      dtype='object')

In [175]:
missing_datar = data.isnull().sum() / len(data) * 100
print(missing_datar[missing_datar > 0].sort_values(ascending=False))

Series([], dtype: float64)