In [115]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

import warnings
warnings.filterwarnings("ignore")

print("Setup Complete")

Setup Complete

In [116]:
data_ = pd.read_csv("data/train.csv")
data = data_.copy()
data.head()

,Basvuru Yili,Degerlendirme Puani,Cinsiyet,Dogum Tarihi,Dogum Yeri,Ikametgah Sehri,Universite Adi,Universite Turu,Burslu ise Burs Yuzdesi,Burs Aliyor mu?,...,Spor Dalindaki Rolunuz Nedir?,Aktif olarak bir STK üyesi misiniz?,Hangi STK'nin Uyesisiniz?,Stk Projesine Katildiniz Mi?,Girisimcilikle Ilgili Deneyiminiz Var Mi?,Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?,Ingilizce Biliyor musunuz?,Ingilizce Seviyeniz?,"Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite",id
0,2014,52.0,Erkek,4/6/1994,"Altindag, Ankara",Ankara,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Evet,...,Diğer,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,0
1,2014,30.0,Erkek,6/11/1993,Üsküdar,İstanbul,İHSAN DOĞRAMACI BİLKENT,Özel,100.0,Hayır,...,0,Hayır,NaN,Evet,Evet,Bilkent Cyberparkta bir şirkette Türkiye nin i...,NaN,NaN,NaN,1
2,2014,18.0,Erkek,1/15/1986,Samsun,İstanbul,ULUSLARARASI KIBRIS ÜNİVERSİTESİ,Özel,100.0,Hayır,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,2
3,2014,40.0,Erkek,6/4/1991,Diyarbakır,İstanbul,İSTANBUL ŞEHİR ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Evet,Hayır,NaN,NaN,NaN,NaN,3
4,2014,24.0,Erkek,2 Kasim 1992,Ankara/Altındağ,Ankara,TURGUT ÖZAL ÜNİVERSİTESİ,Özel,100.0,Evet,...,0,Hayır,NaN,Hayır,Hayır,NaN,NaN,NaN,NaN,4

In [117]:
data.drop(columns=["id"], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65125 entries, 0 to 65124
Data columns (total 43 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Basvuru Yili                                               65125 non-null  int64
 1   Degerlendirme Puani                                        65124 non-null  float64
 2   Cinsiyet                                                   64956 non-null  object
 3   Dogum Tarihi                                               64948 non-null  object
 4   Dogum Yeri                                                 64334 non-null  object
 5   Ikametgah Sehri                                            63088 non-null  object
 6   Universite Adi                                             64993 non-null  object
 7   Universite Turu                                            64870 non-null  object
 8   Burslu ise Burs Yuzdesi                                    22440 non-null  float64
 9   Burs Aliyor mu?                                            65125 non-null  object
 10  Bölüm                                                      64894 non-null  object
 11  Universite Kacinci Sinif                                   64751 non-null  object
 12  Universite Not Ortalamasi                                  62372 non-null  object
 13  Daha Once Baska Bir Universiteden Mezun Olmus              27780 non-null  object
 14  Lise Adi                                                   64741 non-null  object
 15  Lise Adi Diger                                             4733 non-null   object
 16  Lise Sehir                                                 64071 non-null  object
 17  Lise Turu                                                  64278 non-null  object
 18  Lise Bolumu                                                64116 non-null  object
 19  Lise Bolum Diger                                           1526 non-null   object
 20  Lise Mezuniyet Notu                                        59208 non-null  object
 21  Baska Bir Kurumdan Burs Aliyor mu?                         64894 non-null  object
 22  Burs Aldigi Baska Kurum                                    21148 non-null  object
 23  Baska Kurumdan Aldigi Burs Miktari                         20963 non-null  object
 24  Anne Egitim Durumu                                         64719 non-null  object
 25  Anne Calisma Durumu                                        53229 non-null  object
 26  Anne Sektor                                                30588 non-null  object
 27  Baba Egitim Durumu                                         64118 non-null  object
 28  Baba Calisma Durumu                                        52507 non-null  object
 29  Baba Sektor                                                44747 non-null  object
 30  Kardes Sayisi                                              63993 non-null  object
 31  Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?       63296 non-null  object
 32  Uye Oldugunuz Kulubun Ismi                                 16434 non-null  object
 33  Profesyonel Bir Spor Daliyla Mesgul musunuz?               64010 non-null  object
 34  Spor Dalindaki Rolunuz Nedir?                              32850 non-null  object
 35  Aktif olarak bir STK üyesi misiniz?                        52283 non-null  object
 36  Hangi STK'nin Uyesisiniz?                                  15607 non-null  object
 37  Stk Projesine Katildiniz Mi?                               36817 non-null  object
 38  Girisimcilikle Ilgili Deneyiminiz Var Mi?                  52285 non-null  object
 39  Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?  14599 non-null  object
 40  Ingilizce Biliyor musunuz?                                 58671 non-null  object
 41  Ingilizce Seviyeniz?                                       28592 non-null  object
 42  Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite      419 non-null    object
dtypes: float64(2), int64(1), object(40)
memory usage: 21.4+ MB

In [118]:
data.columns

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burslu ise Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm',
       'Universite Kacinci Sinif', 'Universite Not Ortalamasi',
       'Daha Once Baska Bir Universiteden Mezun Olmus', 'Lise Adi',
       'Lise Adi Diger', 'Lise Sehir', 'Lise Turu', 'Lise Bolumu',
       'Lise Bolum Diger', 'Lise Mezuniyet Notu',
       'Baska Bir Kurumdan Burs Aliyor mu?', 'Burs Aldigi Baska Kurum',
       'Baska Kurumdan Aldigi Burs Miktari', 'Anne Egitim Durumu',
       'Anne Calisma Durumu', 'Anne Sektor', 'Baba Egitim Durumu',
       'Baba Calisma Durumu', 'Baba Sektor', 'Kardes Sayisi',
       'Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?',
       'Uye Oldugunuz Kulubun Ismi',
       'Profesyonel Bir Spor Daliyla Mesgul musunuz?',
       'Spor Dalindaki Rolunuz Nedir?', 'Aktif olarak bir STK üyesi misiniz?',
       'Hangi STK'nin Uyesisiniz?', 'Stk Projesine Katildiniz Mi?',
       'Girisimcilikle Ilgili Deneyiminiz Var Mi?',
       'Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?',
       'Ingilizce Biliyor musunuz?', 'Ingilizce Seviyeniz?',
       'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'],
      dtype='object')

In [119]:
data["Dogum Tarihi"].map(lambda x: len(str(x))).value_counts().sort_values(ascending=False)

Dogum Tarihi
9     14396
10    11769
12    10823
8      9155
11     6713
16     4992
13     4021
15     2630
14      433
3       177
19       16
Name: count, dtype: int64

In [120]:
data[data["Dogum Tarihi"].map(lambda x: len(str(x)) == 9)]["Dogum Tarihi"]

1        6/11/1993
2        1/15/1986
5        4/14/1992
7        3/18/1993
9        4/25/1991
           ...
41800    10/3/1999
41802    11/2/1998
41808    10/3/1999
41817    2/12/1998
41824    9/10/1998
Name: Dogum Tarihi, Length: 14396, dtype: object

In [121]:
data[data["Dogum Tarihi"].map(lambda x: len(str(x)) == 10)]["Dogum Tarihi"]

6        10/13/1994
72       10/22/1992
79       10/21/1990
87       10/25/1994
111      10/20/1993
            ...
41822    30/07/1999
41825    27/07/1999
41828    31/03/1998
41830    22/06/1998
41831    12/10/1997
Name: Dogum Tarihi, Length: 11769, dtype: object

In [122]:
data.rename(columns={"Aktif olarak bir STK üyesi misiniz?": "STK_Member"}, inplace=True)

In [123]:
data.STK_Member = data.STK_Member.map(lambda x: 1 if x == "Evet" else 0)
data.STK_Member.value_counts()

STK_Member
0    50558
1    14567
Name: count, dtype: int64

In [124]:
data.rename(columns={"Hangi STK'nin Uyesisiniz?": "STK_Name"}, inplace=True)

In [125]:
data.STK_Name.value_counts()

STK_Name
-                                                                                                                                                                           2956
Kızılay                                                                                                                                                                      238
Toplum Gönüllüleri Vakfı                                                                                                                                                     196
TEMA                                                                                                                                                                         181
LÖSEV                                                                                                                                                                        149
                                                                                                                                                                            ...
Dopingle Mücadele Komisyonu                                                                                                                                                    1
İzmir gönüllüler                                                                                                                                                               1
ODTÜ IEEE - Sosyal Sorumluluk Projesi Grubu üyesiyim. İşaret dili eğitimi aldım.                                                                                               1
Genç barış inisiyatifi ve genç kızılay aktif üyesiyim                                                                                                                          1
Genç Kızılay Topluluğu'nda 3 yıldır gönüllüyüm. 1 yıl boyunca topluluğun yönetim kurulunda üye ilişkileri birimi sorumlusuydum. Şu an gönüllü olarak toplulukta aktifim.       1
Name: count, Length: 9490, dtype: int64

In [126]:
data.drop(columns=["STK_Name"], inplace=True)

In [127]:
data.rename(columns={"Stk Projesine Katildiniz Mi?": "STK_Project_Attendee"}, inplace=True)

In [128]:
data.STK_Project_Attendee = data.STK_Project_Attendee.map(lambda x: 1 if x == "Evet" else 0)
data.STK_Project_Attendee.value_counts()

STK_Project_Attendee
0    47969
1    17156
Name: count, dtype: int64

In [129]:
data.rename(columns={"Girisimcilikle Ilgili Deneyiminiz Var Mi?": "Entrepreneur_Experience"}, inplace=True)

In [130]:
data.Entrepreneur_Experience = data.Entrepreneur_Experience.map(lambda x: 1 if x == "Evet" else 0)
data.Entrepreneur_Experience.value_counts()

Entrepreneur_Experience
0    46759
1    18366
Name: count, dtype: int64

In [131]:
data.rename(columns={"Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?": "Entrepreneur_Experience_Description"}, inplace=True)

In [132]:
data.Entrepreneur_Experience_Description.value_counts()

Entrepreneur_Experience_Description
-                                                                                                                                                                                        5196
Ticaret                                                                                                                                                                                    13
E ticaret                                                                                                                                                                                   9
Borsa                                                                                                                                                                                       8
B                                                                                                                                                                                           8
                                                                                                                                                                                         ...
Suanda restoran işletiyorum. KOSGEB eğitimlerine katıldım fakat destek almadım.                                                                                                             1
İnternet projeleri ve mobil projeler oldukça ilgimi çekmektedir. Kendi fikirlerimi hayata geçirdim.                                                                                         1
1-Girisimcilik100 2-intelagenda.com 3-Haberchina                                                                                                                                            1
45. TUBİTAK MALATYA BÖLGE YARIŞMASI                                                                                                                                                         1
Aile desteğiyle yemek sektöründe küçük bir işletme açtık. Ablamla birlikte işletmenin yönetimini sağladık fakat ekonomik sebeplerden dolayı işletmeyi kapatmak mecburiyetinde kaldık.       1
Name: count, Length: 9286, dtype: int64

In [133]:
data.drop(columns=["Entrepreneur_Experience_Description"], inplace=True)

In [134]:
data.rename(columns={"Ingilizce Biliyor musunuz?": "English_Knowledge"}, inplace=True)

In [135]:
data.English_Knowledge = data.English_Knowledge.map(lambda x: 1 if x == "Evet" else 0)
data.English_Knowledge.value_counts()

English_Knowledge
1    48872
0    16253
Name: count, dtype: int64

In [136]:
data.rename(columns={"Ingilizce Seviyeniz?": "English_Level"}, inplace=True)

In [137]:
data.English_Level.isna().sum()

np.int64(36533)

In [138]:
data.English_Level.value_counts()

English_Level
Orta         13057
İleri         8318
Başlangıç     5180
0             2037
Name: count, dtype: int64

In [139]:
english_level_mapping = {
    '0': 0,
    'Başlangıç': 1,
    'Orta': 2,
    'İleri': 3
}

data.English_Level= data.English_Level.apply(lambda x: english_level_mapping.get(x, 0))
data.English_Level.value_counts()

English_Level
0    38570
2    13057
3     8318
1     5180
Name: count, dtype: int64

In [140]:
data.rename(columns={"Profesyonel Bir Spor Daliyla Mesgul musunuz?": "Sports_Professional"}, inplace=True)

In [141]:
data.Sports_Professional = data.Sports_Professional.map(lambda x: 1 if x == "Evet" else 0)
data.Sports_Professional.value_counts()

Sports_Professional
0    43358
1    21767
Name: count, dtype: int64

In [142]:
data.rename(columns={"Spor Dalindaki Rolunuz Nedir?": "Sports_Role"}, inplace=True)

In [143]:
data.Sports_Role.value_counts()

Sports_Role
0                 11315
Diğer              8836
-                  4173
Lider/Kaptan       1994
DİĞER              1945
Bireysel           1697
Takım Oyuncusu     1175
Kaptan              873
KAPTAN / LİDER      842
Name: count, dtype: int64

In [307]:
data.Sports_Role.fillna("-", inplace=True)

In [308]:
def fix_sports_role(x):
    if x in ['0', '-']:
        return '-'
    if x in ['Lider/Kaptan', 'Kaptan', 'KAPTAN / LİDER']:
        return 'Lider'
    if x in ['Diğer', "DİĞER"]:
        return 'Diğer'
    return x

data.Sports_Role = data.Sports_Role.apply(fix_sports_role)
data.Sports_Role.value_counts()

Sports_Role
-                 47763
Diğer             10781
Lider              3709
Bireysel           1697
Takım Oyuncusu     1175
Name: count, dtype: int64

In [306]:
data.Sports_Role.isna().sum()

np.int64(32275)

In [309]:
data.drop(columns=["Sports_Role"], inplace=True)

In [145]:
data.rename(columns={"Girisimcilik Kulupleri Tarzi Bir Kulube Uye misiniz?": "Startup_Club_Member"}, inplace=True)

In [146]:
data.Startup_Club_Member = data.Startup_Club_Member.map(lambda x: 1 if x == "Evet" else 0)
data.Startup_Club_Member.value_counts()

Startup_Club_Member
0    35539
1    29586
Name: count, dtype: int64

In [147]:
data.rename(columns={"Uye Oldugunuz Kulubun Ismi": "Startup_Club_Name"}, inplace=True)

In [149]:
data.Startup_Club_Name.value_counts()

Startup_Club_Name
IEEE                                                                            203
Girişimcilik Kulübü                                                              60
Kalite ve Verimlilik Kulübü                                                      43
AIESEC                                                                           40
İşletme Kulübü                                                                   39
                                                                               ...
KARADENİZ TEKNİK ÜNİVERSİTESİ EDEBİYAT KLÜBÜ                                      1
Koüsat                                                                            1
İzmir gençleri dağcılık klübü                                                     1
üniversite bünyesinde işletme kulübü ve kültür kulübünde aktif rol alıyorum.      1
Genç Kızılay                                                                      1
Name: count, Length: 13423, dtype: int64

In [212]:
data.Startup_Club_Name = data.Startup_Club_Name.apply(lambda x: "-" if str(x) == "nan" else str(x))
data.Startup_Club_Name.value_counts()

Startup_Club_Name
-                                                                                   48694
ieee                                                                                  237
girişimcilik kulübü                                                                   106
aiesec                                                                                 62
i̇şletme kulübü                                                                        60
                                                                                    ...
yıldız teknik üniversitesi i̇şletme klubü, yıldız teknik üniversitesi spor klubü        1
bilim ve teknoloji toplulugu , cevre toplulugu , hip-hop dans toplulugu                 1
enso, buyak                                                                             1
i̇stanbul üniversitesi hukuk fakültesi sinema klübü                                     1
genç kızılay                                                                            1
Name: count, Length: 12441, dtype: int64

In [248]:
data.Startup_Club_Name.nunique()

11691

In [249]:
data.drop(columns=["Startup_Club_Name"], inplace=True, axis=1)

In [213]:
import unicodedata

# Fazla boşlukları ve büyük/küçük harf farkını düzeltme fonksiyonu
def fix_unicodedata(x):
    # Stringe çevir ve küçük harfe dönüştür
    x = str(x).lower().strip()
    
    # Fazla boşlukları tek bir boşluğa indirgeme
    x = ' '.join(x.split())
    
    # Unicode normalizasyonu yap
    x = unicodedata.normalize('NFKD', x)
    x = ''.join([c for c in x if not unicodedata.combining(c)])
    return x

In [220]:
data.Startup_Club_Name = data.Startup_Club_Name.apply(fix_unicodedata)
data.Startup_Club_Name.value_counts()[0:15]

Startup_Club_Name
-                                                  48694
ieee                                                 273
girisimcilik kulubu                                  127
isletme kulubu                                        84
aiesec                                                65
kalite ve verimlilik kulubu                           63
genc girisimciler kulubu                              47
odtu isletme toplulugu                                43
toplum gonulluleri                                    42
isletme ve ekonomi kulubu                             38
endustri muhendisligi kulubu                          37
itu girisimcilik kulubu                               37
tema                                                  36
toplum gonulluleri vakfı                              36
bogazici universitesi isletme ve ekonomi kulubu       34
Name: count, dtype: int64

In [221]:
data.Startup_Club_Name.value_counts()[15:30]

Startup_Club_Name
odtu genc girisimciler toplulugu             33
girisimcilik klubu                           33
odtu verimlilik toplulugu                    32
ieee odtu                                    30
tiyatro                                      28
tiyatro kulubu                               28
tog                                          26
sinema kulubu                                26
itu endustri muhendisligi kulubu             24
isletme klubu                                23
turkmsic                                     23
genc girisimciler toplulugu                  23
istanbul universitesi girisimcilik kulubu    22
yesilay                                      22
satranc kulubu                               21
Name: count, dtype: int64

In [153]:
data.rename(columns={"Kardes Sayisi": "Siblings"}, inplace=True)

In [154]:
data.Siblings.value_counts()

Siblings
1.0                                             16186
2.0                                             13062
3.0                                              6734
1                                                6054
4.0                                              4611
2                                                3938
0.0                                              3701
5.0                                              3421
3                                                2087
0                                                1381
4                                                 998
5                                                 715
6.0                                               206
7.0                                               159
6                                                 135
10.0                                              127
7                                                 119
8.0                                                98
9.0                                                79
8                                                  75
9                                                  43
10                                                 42
11                                                 12
12                                                  5
13                                                  2
14                                                  1
18                                                  1
Kardeş Sayısı 1 Ek Bilgi Aile Hk. Anne Vefat        1
Name: count, dtype: int64

In [155]:
data.Siblings.isna().sum()

np.int64(1132)

In [156]:
data.Siblings.dtypes

dtype('O')

In [157]:
data.Siblings = data.Siblings.apply(lambda x: int(x) if str(x).isdigit() else 0)

In [158]:
data.Siblings.value_counts()

Siblings
0     50898
1      6054
2      3938
3      2087
4       998
5       715
6       135
7       119
8        75
9        43
10       42
11       12
12        5
13        2
18        1
14        1
Name: count, dtype: int64

In [159]:
data.rename(columns={"Baba Calisma Durumu": "Father_Job"}, inplace=True)

In [160]:
data.Father_Job.value_counts()

Father_Job
Evet      28559
Hayır     12486
Emekli    11462
Name: count, dtype: int64

In [161]:
#buraya one-hot encoding uygulayabiliriz

In [162]:
data.rename(columns={"Anne Calisma Durumu": "Mother_Job"}, inplace=True)

In [163]:
data.Mother_Job.value_counts()

Mother_Job
Hayır     39371
Evet      10504
Emekli     3354
Name: count, dtype: int64

In [164]:
data.rename(columns={"Baba Sektor": "Father_Sector"}, inplace=True)

In [165]:
data.Father_Sector.value_counts()

Father_Sector
Özel Sektör    11293
Kamu            7457
Diğer           6717
0               6631
ÖZEL SEKTÖR     4320
-               3070
KAMU            2862
DİĞER           2397
Name: count, dtype: int64

In [222]:
data.Father_Sector[data.Mother_Sector.isna()] = "-"

In [225]:
def fix_parent_sector(x):
    if x in ['0', '-', 'nan']:
        return '-'
    return fix_unicodedata(x)

In [226]:
data.Father_Sector = data.Father_Sector.apply(fix_parent_sector)
data.Father_Sector.value_counts()

Father_Sector
-              30079
ozel sektor    15613
kamu           10319
diger           9114
Name: count, dtype: int64

In [166]:
data.rename(columns={"Anne Sektor": "Mother_Sector"}, inplace=True)

In [174]:
data.Mother_Sector.value_counts()

Mother_Sector
0              11780
-               5827
Özel Sektör     4425
Kamu            3805
ÖZEL SEKTÖR     1617
KAMU            1344
Diğer           1333
DİĞER            457
Name: count, dtype: int64

In [175]:
data.Mother_Sector[data.Mother_Sector.isna()] = "-"

In [183]:
data.Mother_Sector.value_counts()

Mother_Sector
-                52144
özel sektör     6042
kamu              5149
diğer            1333
di̇ğer            457
Name: count, dtype: int64

In [227]:
data.Mother_Sector = data.Mother_Sector.apply(fix_parent_sector)
data.Mother_Sector.value_counts()

Mother_Sector
-              52144
ozel sektor     6042
kamu            5149
diger           1790
Name: count, dtype: int64

In [228]:
missing_datar = data.isnull().sum() / len(data) * 100
print(missing_datar[missing_datar > 0].sort_values(ascending=False))

Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite    99.356622
Lise Bolum Diger                                         97.656814
Lise Adi Diger                                           92.732438
Baska Kurumdan Aldigi Burs Miktari                       67.811132
Burs Aldigi Baska Kurum                                  67.527063
Burslu ise Burs Yuzdesi                                  65.543186
Daha Once Baska Bir Universiteden Mezun Olmus            57.343570
Sports_Role                                              49.558541
Father_Job                                               19.375048
Mother_Job                                               18.266411
Lise Mezuniyet Notu                                       9.085605
Universite Not Ortalamasi                                 4.227255
Ikametgah Sehri                                           3.127831
Lise Sehir                                                1.618426
Lise Bolumu                                               1.549328
Baba Egitim Durumu                                        1.546257
Lise Turu                                                 1.300576
Dogum Yeri                                                1.214587
Anne Egitim Durumu                                        0.623417
Lise Adi                                                  0.589635
Universite Kacinci Sinif                                  0.574280
Universite Turu                                           0.391555
Baska Bir Kurumdan Burs Aliyor mu?                        0.354702
Bölüm                                                     0.354702
Dogum Tarihi                                              0.271785
Cinsiyet                                                  0.259501
Universite Adi                                            0.202687
Degerlendirme Puani                                       0.001536
dtype: float64

In [229]:
data.columns

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burslu ise Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm',
       'Universite Kacinci Sinif', 'Universite Not Ortalamasi',
       'Daha Once Baska Bir Universiteden Mezun Olmus', 'Lise Adi',
       'Lise Adi Diger', 'Lise Sehir', 'Lise Turu', 'Lise Bolumu',
       'Lise Bolum Diger', 'Lise Mezuniyet Notu',
       'Baska Bir Kurumdan Burs Aliyor mu?', 'Burs Aldigi Baska Kurum',
       'Baska Kurumdan Aldigi Burs Miktari', 'Anne Egitim Durumu',
       'Mother_Job', 'Mother_Sector', 'Baba Egitim Durumu', 'Father_Job',
       'Father_Sector', 'Siblings', 'Startup_Club_Member', 'Startup_Club_Name',
       'Sports_Professional', 'Sports_Role', 'STK_Member',
       'STK_Project_Attendee', 'Entrepreneur_Experience', 'English_Knowledge',
       'English_Level',
       'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite'],
      dtype='object')

In [230]:
data.Entrepreneur_Experience.value_counts()

Entrepreneur_Experience
0    46759
1    18366
Name: count, dtype: int64

In [231]:
data['Entrepreneur_Experience_Description'] = data_['Girisimcilikle Ilgili Deneyiminizi Aciklayabilir misiniz?']

In [232]:
data.Entrepreneur_Experience_Description.value_counts()

Entrepreneur_Experience_Description
-                                                                                                                                                                                        5196
Ticaret                                                                                                                                                                                    13
E ticaret                                                                                                                                                                                   9
Borsa                                                                                                                                                                                       8
B                                                                                                                                                                                           8
                                                                                                                                                                                         ...
Suanda restoran işletiyorum. KOSGEB eğitimlerine katıldım fakat destek almadım.                                                                                                             1
İnternet projeleri ve mobil projeler oldukça ilgimi çekmektedir. Kendi fikirlerimi hayata geçirdim.                                                                                         1
1-Girisimcilik100 2-intelagenda.com 3-Haberchina                                                                                                                                            1
45. TUBİTAK MALATYA BÖLGE YARIŞMASI                                                                                                                                                         1
Aile desteğiyle yemek sektöründe küçük bir işletme açtık. Ablamla birlikte işletmenin yönetimini sağladık fakat ekonomik sebeplerden dolayı işletmeyi kapatmak mecburiyetinde kaldık.       1
Name: count, Length: 9286, dtype: int64

In [243]:
def check_experience(x):
    if x == np.nan or str(x) == "-":
        return 0
    if len(str(x).lower().strip()) == 0:
        return 0
    return 1

In [244]:
data.loc[data.Entrepreneur_Experience == 1, 'Entrepreneur_Experience'] = data.loc[data.Entrepreneur_Experience == 1, 'Entrepreneur_Experience_Description'].apply(check_experience)

In [245]:
data.Entrepreneur_Experience.value_counts()

Entrepreneur_Experience
0    46763
1    18362
Name: count, dtype: int64

In [252]:
data.rename(columns={"Anne Egitim Durumu": "Mother_Education"}, inplace=True)

In [253]:
data.Mother_Education.value_counts()

Mother_Education
İlkokul                    10351
Lise                        8467
İlkokul Mezunu              8030
İLKOKUL MEZUNU              7770
Üniversite                  5502
Eğitimi yok                 3605
LİSE                        3582
Ortaokul                    3126
EĞİTİM YOK                  2600
ÜNİVERSİTE                  2435
Eğitim Yok                  2146
Ortaokul Mezunu             2119
ORTAOKUL MEZUNU             1788
Lise Mezunu                 1346
Üniversite Mezunu           1075
Yüksek Lisans                274
YÜKSEK LİSANS                153
Yüksek Lisans / Doktora      123
Yüksek Lisans / Doktara       85
Doktora                       80
DOKTORA                       62
Name: count, dtype: int64

In [287]:
data.Mother_Education.fillna("-", inplace=True)

In [298]:
def fix_parent_education(x):
    x = str(x)
    if x == np.nan:
        return '-'
    if x.lower().strip() in ['0', '-', 'nan']:
        return '-'

    if "/" in x:
        x = x.split("/")[1].strip()
    if "yok" in x.lower().strip():
        return '-'
    if "doktara" in x.lower().strip():
        x = "doktora"
    x = x.split()[0].strip()
    
    return fix_unicodedata(x)

data.Mother_Education = data.Mother_Education.apply(fix_parent_education)
data.Mother_Education.value_counts()

Mother_Education
ilkokul       26151
lise          13395
universite     9012
-              8757
ortaokul       7033
yuksek          427
doktora         350
Name: count, dtype: int64

In [290]:
data.rename(columns={"Baba Egitim Durumu": "Father_Education"}, inplace=True)

In [291]:
data.Father_Education.value_counts()

Father_Education
Lise                       10008
Üniversite                  9149
İlkokul                     8257
İLKOKUL MEZUNU              5784
İlkokul Mezunu              5389
LİSE                        4482
ÜNİVERSİTE                  4258
Ortaokul                    4109
Ortaokul Mezunu             2540
ORTAOKUL MEZUNU             2531
Üniversite Mezunu           1731
Lise Mezunu                 1405
Eğitimi yok                 1102
EĞİTİM YOK                   811
Yüksek Lisans                596
Eğitim Yok                   585
YÜKSEK LİSANS                367
Yüksek Lisans / Doktora      289
Doktora                      222
Yüksek Lisans / Doktara      215
DOKTORA                      177
0                            111
Name: count, dtype: int64

In [299]:
data.Father_Education = data.Father_Education.apply(fix_parent_education)
data.Father_Education.value_counts()

Father_Education
ilkokul       19430
lise          15895
universite    15138
ortaokul       9180
-              3616
yuksek          963
doktora         903
Name: count, dtype: int64

In [301]:
missing_datar = data.isnull().sum() / len(data) * 100
print(missing_datar[missing_datar > 0].sort_values(ascending=False))

Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite    99.356622
Lise Bolum Diger                                         97.656814
Lise Adi Diger                                           92.732438
Entrepreneur_Experience_Description                      77.583109
Baska Kurumdan Aldigi Burs Miktari                       67.811132
Burs Aldigi Baska Kurum                                  67.527063
Burslu ise Burs Yuzdesi                                  65.543186
Daha Once Baska Bir Universiteden Mezun Olmus            57.343570
Sports_Role                                              49.558541
Father_Job                                               19.375048
Mother_Job                                               18.266411
Lise Mezuniyet Notu                                       9.085605
Universite Not Ortalamasi                                 4.227255
Ikametgah Sehri                                           3.127831
Lise Sehir                                                1.618426
Lise Bolumu                                               1.549328
Lise Turu                                                 1.300576
Dogum Yeri                                                1.214587
Lise Adi                                                  0.589635
Universite Kacinci Sinif                                  0.574280
Universite Turu                                           0.391555
Baska Bir Kurumdan Burs Aliyor mu?                        0.354702
Bölüm                                                     0.354702
Dogum Tarihi                                              0.271785
Cinsiyet                                                  0.259501
Universite Adi                                            0.202687
Degerlendirme Puani                                       0.001536
dtype: float64

In [305]:
data['Burs Aldigi Baska Kurum'].value_counts()[:15]
# burayi -,kyk,ozel olarak 3e ayir ve one hot encode yapabiliriz

Burs Aldigi Baska Kurum
-                                   4711
KYK                                 2969
Kyk                                 2918
kyk                                  758
Kredi ve Yurtlar Kurumu              624
Kredi Yurtlar Kurumu                 490
Devlet                               293
Kyk bursu                            190
Kredi yurtlar kurumu                 179
Kredi ve yurtlar kurumu              169
KYK bursu                            147
K                                     98
Devlet bursu                          93
Çağdaş Yaşamı Destekleme Derneği      92
TEV                                   82
Name: count, dtype: int64

In [310]:
data['Universite Adi'].value_counts()[:15]

Universite Adi
İSTANBUL ÜNİVERSİTESİ            2083
MARMARA ÜNİVERSİTESİ             1672
İSTANBUL TEKNİK ÜNİVERSİTESİ     1464
YILDIZ TEKNİK ÜNİVERSİTESİ       1438
ORTA DOĞU TEKNİK ÜNİVERSİTESİ    1258
DOKUZ EYLÜL ÜNİVERSİTESİ         1235
BOĞAZİÇİ ÜNİVERSİTESİ            1165
KOCAELİ ÜNİVERSİTESİ             1004
HACETTEPE ÜNİVERSİTESİ            938
GAZİ ÜNİVERSİTESİ                 910
EGE ÜNİVERSİTESİ                  887
SELÇUK ÜNİVERSİTESİ               886
ANADOLU ÜNİVERSİTESİ              853
ANKARA ÜNİVERSİTESİ               833
SAKARYA ÜNİVERSİTESİ              803
Name: count, dtype: int64

In [311]:
data.columns

Index(['Basvuru Yili', 'Degerlendirme Puani', 'Cinsiyet', 'Dogum Tarihi',
       'Dogum Yeri', 'Ikametgah Sehri', 'Universite Adi', 'Universite Turu',
       'Burslu ise Burs Yuzdesi', 'Burs Aliyor mu?', 'Bölüm',
       'Universite Kacinci Sinif', 'Universite Not Ortalamasi',
       'Daha Once Baska Bir Universiteden Mezun Olmus', 'Lise Adi',
       'Lise Adi Diger', 'Lise Sehir', 'Lise Turu', 'Lise Bolumu',
       'Lise Bolum Diger', 'Lise Mezuniyet Notu',
       'Baska Bir Kurumdan Burs Aliyor mu?', 'Burs Aldigi Baska Kurum',
       'Baska Kurumdan Aldigi Burs Miktari', 'Mother_Education', 'Mother_Job',
       'Mother_Sector', 'Father_Education', 'Father_Job', 'Father_Sector',
       'Siblings', 'Startup_Club_Member', 'Sports_Professional', 'STK_Member',
       'STK_Project_Attendee', 'Entrepreneur_Experience', 'English_Knowledge',
       'English_Level',
       'Daha Önceden Mezun Olunduysa, Mezun Olunan Üniversite',
       'Entrepreneur_Experience_Description'],
      dtype='object')